<nav class="navbar navbar-default" style="margin-bottom:0px!important">
  <div class="container-fluid" style="background: #ffbf00">
    <div class="navbar-header">
      <div class="navbar-brand" style="color:#2471A3;margin-left: 2%;padding-top: 1%; font-size:25px!important;">
        <b>Daily Task Manager</b>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
        style="background:#2471A3;color:#fff" data-backdrop="static" data-keyboard="false">
        Add New Task </button>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet>
  </router-outlet>
</div>

<div class="demo">
  <div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding:5px;background-color: transparent;">
          <h4 class="modal-title" id="myModalLabel">Add/Edit Task</h4>
          <button type="button" #btnClose class="close" (click)="Close()"
          data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="padding: 0px 10px 10px 10px;">
          <div class="form-group">
            <div class="col">
              <div class="col-sm-4" style="padding: 0px;margin-top: 1%;">
                <input type="text" class="form-control" [(ngModel)]="task" placeholder="Task Title"><br>
                <input type="text" class="form-control" [(ngModel)]="description" placeholder="Description"><br>
                <select class="form-control" style="border-radius: 0px;"
                  [(ngModel)]="priority">
                  <option value="undefined" selected>Select priority</option>
                  <option value="P0">P0</option>
                  <option value="P1">P1</option>
                  <option value="P2">P2</option>
                </select>
                <br>
                <select class="form-control" style="border-radius: 0px;"
                  [(ngModel)]="status">
                  <option value="undefined" selected>Select Status</option>
                  <option value="Pending">Pending</option>
                  <option value="InProgress">InProgress</option>
                  <option value="Completed">Completed</option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal">Submit</button>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>
</div>